<div class="line-name-container">
  <mat-checkbox
    class="line-name-item"
    *ngFor="let lineName of linesName"
    value="{{ lineName }}"
    (change)="
      selectLine(lineName, $event.checked); selectLine(lineName, !$event.checked); selectLine(lineName, $event.checked)
    "
  >
    {{ lineName }}
  </mat-checkbox>
</div>
<div class="row mt-3 mb-3 ml-3">
  <mat-form-field>
    <mat-label>Manchette</mat-label>
    <mat-select>
      <mat-option (click)="removeManchette()" value="Aucune manchette">Aucune manchette</mat-option>
      <mat-option *ngFor="let manchette of manchettes" (click)="selectManchette(manchette)" value="{{ manchette.name }}">{{ manchette.name }}</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="ml-3 mt-3">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary" (click)="changeRange('hour', 1)">1h</button>
      <button type="button" class="btn btn-secondary" (click)="changeRange('minute', 30)">30min</button>
      <button type="button" class="btn btn-secondary" (click)="changeRange('minute', 15)">15min</button>
      <button type="button" class="btn btn-secondary" (click)="changeRange('minute', 10)">10min</button>
      <button type="button" class="btn btn-secondary" (click)="changeRange('minute', 5)">5min</button>
    </div>
  </div>
  <div class="ml-3 mt-3">
    <div type="button" class="btn btn-secondary" (click)="centerToSimTime()">
      Recentrez
    </div>
  </div>
</div>
<div class="chart" style="margin-left: 10px; margin-right: 10px">
  <canvas style="border:1px solid" class="chart" id="chart"></canvas>
</div>
