<div class="line-name-container">
  <mat-checkbox
    class="line-name-item"
    *ngFor="let lineName of linesName"
    value="{{ lineName }}"
    (change)="
      selectLine(lineName, $event.checked); selectLine(lineName, !$event.checked); selectLine(lineName, $event.checked)
    "
  >
    {{ lineName }}
  </mat-checkbox>
</div>
<mat-form-field style="margin-left: 30px;">
  <mat-label>Manchette</mat-label>
  <mat-select>
    <mat-option *ngFor="let manchette of manchettes" (click)="selectManchette(manchette)" value="{{ manchette.name }}">{{ manchette.name }}</mat-option>
  </mat-select>
</mat-form-field>
<div class="chart" style="margin-left: 10px; margin-right: 10px">
  <canvas style="border:1px solid" class="chart" id="chart"></canvas>
</div>
